Repository mplus-oss/repo-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, j2lint-check

pylint:
  name: 'pylint: Python linter'
  entry: pylint
  language: python
  require_serial: true

j2lint-check:
  name: 'j2lint: Check formatter'
  entry: j2lint
  language: python
  args:
  - --extensions
  - j2,jinja2,jinja
  - --ignore
  - jinja-statements-delimiter
  - single-statement-per-line
  - --
  require_serial: true

feat(copier): add jinja2 on template
  copier.yml
  requirements.txt
Due: none

refactor: lint
  src/hooks/_utils.py
  src/{{_copier_conf.answers_file}}.jinja
Due: pylint, j2lint-check

feat(odoo): add biome for js linter
  src/base_app/{{ 'odoo' if 'odoo' in base_app else '' }}/{{ 'biome.json' if odoo_version >= 16 else '' }}
Due: none

feat(js): add js/ts linter using biome
  copier.yml
  src/base_app/{{ 'js' if 'js' in base_app else '' }}/biome.json
  src/base_app/{{ 'js' if 'js' in base_app else '' }}/{{ '.prototools' if _js_prototools else '' }}.jinja
Due: j2lint-check

chore(python): bump default version
  copier.yml
Due: none

build(templates): introduce .bun-version, .node-version, and .python-version files
  src/base_app/{{ 'js' if 'js' in base_app else '' }}/{{ '.bun-version' if js_bun_version else '' }}
  src/base_app/{{ 'js' if 'js' in base_app else '' }}/{{ '.node-version' if js_nodejs_version else '' }}
  src/base_app/{{ 'odoo' if 'odoo' in base_app else '' }}/.python-version
  src/base_app/{{ 'python' if 'python' in base_app else '' }}/.python-version
Due: none

chore(copier): pin python version
  .python-version
Due: none

feat: license
  LICENSE
Due: none

feat(pre-commit): add naming
  .pre-commit-config.yaml
  src/.pre-commit-config.yaml.jinja
Due: j2lint-check

feat(docs): update README.md
  README.md
Due: none

feat(rules): add python rules
  rules/python.md
Due: none

refactor: add newline
  .pre-commit-config.yaml
  README.md
  src/.pre-commit-config.yaml.jinja
Due: j2lint-check

feat(rules): add odoo rules
  rules/odoo.md
Due: none

feat(rules): add js rules
  rules/javascript.md
Due: none

refactor: add newline
  rules/python.md
Due: none

feat(rules): add jinja rules
  rules/jinja2.md
Due: none

fix(rules): remove multiple note notification
  rules/odoo.md
Due: none

fix(biome): invalid old config
  src/base_app/{{ 'js' if 'js' in base_app else '' }}/biome.json
  src/base_app/{{ 'odoo' if 'odoo' in base_app else '' }}/{{ 'biome.json' if odoo_version >= 16 else '' }}
Due: none

feat(rules): update new rules for odoo
  rules/odoo.md
Due: none

fix(copier): fix copier logic for nodejs
  copier.yml
Due: none

fix(python): python-version not printed and remove ruff python target version
  src/base_app/{{ 'odoo' if 'odoo' in base_app else '' }}/.pylintrc.jinja
  src/base_app/{{ 'odoo' if 'odoo' in base_app else '' }}/.python-version.jinja
  src/base_app/{{ 'python' if 'python' in base_app else '' }}/.python-version.jinja
  templates/.ruff.toml.jinja
Due: j2lint-check

feat(pre-commit): add biome format and lint
  src/.pre-commit-config.yaml.jinja
Due: j2lint-check

refactor(rules): remove unnecessary tabline on example
  rules/odoo.md
Due: none

refactor(rules): add tabline on example
  rules/odoo.md
Due: none

refactor(rules): modify noArguments desc
  rules/odoo.md
Due: none

docs(python): remove E501 documentation and configuration
  rules/python.md
  templates/.ruff.toml.jinja
Due: j2lint-check

docs(readme): add pre-commit setup and update project generation command
  README.md
Due: none

Path conditions:
  pylint: any of: \.py$
  j2lint-check: any of: \.(j2|jinja2|jinja)$
